/* selectors */

/* UNIVERSAL selector */
*{
    font-family: 'Courier New';
}
/* ELEMENT selector */
h3{
    color: purple;
}
h1 , p{
    color: #b92b27;
}
/* ID selector */
#login{
    background-color: white;
}
/* CLASS selector */
.x{
    background-color: rgb(22, 255, 22);
    color: rgb(0, 0, 0);
}
/* DESCENDANT selector */
p a {
    color: purple;
    background-color: aqua;
}

/* Attribute selector */
input[type="text"]{
    color: #b92b27;
}
input[type="password"]{
    color: #1521ff;
}
input[type]
{
    text-align: center;
}

/* COMBINATORs */

/* adjacent Sibing combinator (combind)  */
/* at same level : ele1 + ele2*/
p + h3{
    text-decoration: underline;
}

.x + button {
    background-color: cadetblue ;
    color: aliceblue;
}
/* Child combinator */
/* Direct decenders */

div > input {
    background-color: bisque;
}

/* Pseudo classes */

/* hover, active, checked, nth of type*/
/* selector: pseudo class */
button:hover {
    background-color: #b92b27;
    color: aliceblue;
}
h3:hover {
    background-color: black;
    color: aliceblue;
    text-decoration: none;
}
button:active {
    background-color: #45daf1;
    color: rgb(1, 32, 58);
}
p:hover {
    background-color: chocolate;
    font-weight: bold;
    color: black;
}
input[type="radio"]:checked  + label{
    color: red;
    font-weight: bold;
}
/* nth elemnent */
.post:nth-of-type(3n) {
    background-color: #4f00fa;
}
/* specificity id change "X"*/
/* PRIORITY Order: IMPORTANT >INLINE > ID> Class> element */


/* Pseudo element */
h1::first-letter{
    color: black;
}
a::selection {
    background-color: rgb(205, 248, 160);
}