body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #f63434;
    line-height: 30px;
}

.x {
    text-align: center;
}

h3 {
    color: black;
}

a {
    color: rgb(00, 255, 00);
    text-decoration: none;
}

button{
    background-color: white;
    color: blueviolet;
}

h1{
    text-decoration: underline;
}

span{
    text-decoration: underline;
}
