#main{
    height: 400px;
    width: 400px;
    border:7px solid rgb(2, 113, 138);
    /* padding: 5px; */
    margin: 30px 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
}
.x{
    font-size: 50px;
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: gray;
    border:5px solid black;
    border-radius: 10%;
    margin: 12px;
    justify-content: center;
    /* display: flex;
    flex-wrap: wrap; */
}
    
    /* Navbar */

    #nav{
        height:50px;
        width: 900px;
        background-color: pink;
        border: 3px solid rgb(3, 207, 190);
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        padding: 2px;
        margin: 10px;
        font-size: 24px;
        align-content: center;
        font-weight: 540;
    }
    .sub{
        height: 50px;
        width: 80px;
        align-content: center;
    }
    #logo{
        padding-left: 2px;
    }
    #Home{
        padding-left: 30px;
    }
    #About{
        padding-left: 20px ;
    }
    #Contact{
        padding-left: 20px;
    }
