div{
    height: 100px;
    width: 600px;
    border: 2px  solid black;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    margin-bottom: 10px;
}

h1{
    border: 5px solid  red;
    border-radius: 50%;
    border-top: 5px solid darkred;
    width: 600px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

