.face{
    width: 400px;
    height: 400px;
    background-color: sandybrown;
    border-radius: 50%;
}
.mouth{
   
    width: 200px;
    height: 75px;
    background-color: brown;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 250px;
    left: 100px;
}
.lefteye , .righteye{
    width: 50px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}
.righteye{
    left: 250px;
}
