div{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 00, 00, 0.8); 
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top  ease-in-out ;
    }

div:hover{
    border-radius: 50%;
    
    background-color: blue;
    margin-top: 400px;
}
.x{
    color: rebeccapurple;
    height: 100px;
    width: 100px;
    margin: 10px auto;
    border: 2px solid black;
    text-align: center;

}

div:nth-of-type(2n){
    background-color: rosybrown;
}

div:nth-of-type(3n){
    background-color: rgb(0, 255, 30);
}
/* transform */

/* clockwise */
#a{
    transform: scale(0.5,2);
   
}
#b{
    transform: translate(-100px);
}
#c{
    transform: skew(10deg);
}
#d{
    transform: rotate(30deg) translateX(150px) ;
}
#e{
    box-shadow: 9px 20px 20px rgb(0, 245, 29);
}               /*X   Y  bulurness */
#f{
    background-image: url("image.jpg");
    background-size: cover;
    height: 400px;
    width: 400px;
}
